{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}
	{{ user.username }}-received
{% endblock %}

{% block content %}
	<div class="container">
		{% if request.user == user %}
		<div class="row text-center">
			<div class="col-md-12">
				<h3>{{ user.username }} you have received {{ received.count }} message{{ received.count|pluralize }} so far</h3>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-md-12">
				<h3>All messages received:</h3>
				{% for rec in received %}
					<div class="jumbotron">
						<h3>{{ rec.body|linebreaks }}</h3>
						{% if rec.reveal_identity %}
							<h4>written by : {{ rec.written_by }}</h4>
						{% else %}
							<h4>written by : Anonymous</h4>
						{% endif %}
						<small>{{ rec.timestamp|naturaltime }}</small>
					</div>
				{% endfor %}
			</div>
		</div>
		{% else %}
			<div class="row text-center">
				<div class="col-md-12">
					<h3>Hey, you are not {{ user.username }} :P</h3>
					<h3>You are {{ request.user.username }}</h3>
					<h3>You are not authorized to see this page.</h3>
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}